body {
  font-family: "Roboto", sans-serif;
  color: var(--back-color);
  background-color: var(--base-back-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
:root {
  --base-color: #212121;
  --base-back-color: white;
  --hover-color: #2196f3;
  --btn-hover-color: #188ce8;
  --contact-color: #757575;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --title-studio-color: #ffffff;
  --back-color: black;
  --title-back-color: #2f303a;
  --menu-team-color: #f5f4fa;
  --social-icon-color: #afb1b8;
}
