.form-terms {
  display: flex;
  justify-content: center;
}

.policy-check {
  &:checked + .check-text span {
    border: none;
    background-color: var(--hover-color);
  }
  &:checked + .check-text span .policy-icon {
    fill: var(--title-studio-color);
  }
}

.check-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  @include desk {
    font-size: 14px;
    line-height: 1.71; /* identical to box height, or 171% */
  }
  letter-spacing: 0.03em;
  color: var(--contact-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.check-terms {
  color: var(--hover-color);
  margin-left: 5px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--base-color);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-icon {
  fill: transparent;
}
