.menu {
  display: flex;
  padding-bottom: 0px;
  @include mob {
    flex-wrap: wrap;
  }
  @include tab {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.menu__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
  background: var(--menu-team-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: navy;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--title-studio-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.menu__link {
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
