.prior__list {
  @media screen and (min-width: 480px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.prior-box-icon {
  height: 120px;
  background: var(--menu-team-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.prior__title-list {
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.prior__item {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(100% / 2 -30px);
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
}

.prior__title-after {
  line-height: 1.71; /* or 171% */
  color: var(--contact-color);
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
