.studio {
  background-color: var(--title-back-color);

  @include mob {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imeges/header-img-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../imeges/header-img-mob-2x.jpg);
    }
  }
  @include tab {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imeges/header-img-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../imeges/header-img-tab-2x.jpg);
    }
  }
  @include desk {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../imeges/header-img-desk-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../imeges/header-img-desk-2x.jpg);
    }
  }
}

.container-studio {
  display: flex;
  padding: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.studio__title {
  @include mob {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62; /* or 162% */
    margin-bottom: 40px;
  }
  @include desk {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; /* or 136% */
    text-align: center;
    margin-bottom: 30px;
  }
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-studio-color);
}

.studio__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87; /* identical to box height, or 187% */
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--title-studio-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: navy;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}
