.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 100%;
  @include mob {
    width: 480px;
  }
  @include tab {
    width: 768px;
  }
  @include desk {
    width: 1200px;
    max-width: 100%;
  }
}
